
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body{
    background: linear-gradient(to right, #368498, #5092d5);
    color:#333;
}


header{
    background: linear-gradient(to right, #3f6488, #1e6091);
    padding:20px;
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.logo{
    display:flex;
    align-items:center;
    color:white;
}
.logo h2{
    font-size: 40px;
}
.logo img{
    width:70px;
    margin-right:12px;
    border-radius:50%;
    border:2px solid white;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:600;
    padding:8px 14px;
    transition:0.3s;
}

nav ul li a:hover{
    background:white;
    color:#0a6229;
    border-radius:6px;
}

/* ===== Hero ===== */
.hero{
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("./60.jpeg");
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:65px;
    margin-bottom:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero p{
    font-size:20px;
}


.institute{
    padding:60px 20px;
}

.institute-box{
    max-width:1100px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:14px;
    text-align:center;
    box-shadow:0 12px 25px rgba(0,0,0,0.15);
}

.institute-box img{
    width:100%;
    max-width:900px;
    border-radius:12px;
    margin-bottom:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.institute-box h3{
    color:#0a3d62;
    font-size:24px;
    font-weight:600;
}


section{
    padding:60px 20px;
}

.box{
    max-width:1100px;
    margin:auto;
    background:white;
    padding:45px;
    border-radius:14px;
    box-shadow:0 12px 25px rgba(0,0,0,0.15);
}

.box h2{
    text-align:center;
    margin-bottom:25px;
    color:#0a3d62;
}


.cards{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}

.card{
    flex:1 1 250px;
    background:#f1f6fb;
    padding:30px;
    text-align:center;
    border-radius:12px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.card h3{
    color:#1e6091;
    margin-bottom:10px;
}


.contact p{
    text-align:center;
    line-height:1.8;
    font-size:17px;
}


footer{
    background:#0a3d62;
    color:white;
    text-align:center;
    padding:18px;
}


@media(max-width:768px){
    nav ul{
        flex-direction:column;
        margin-top:10px;
    }

    .navbar{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:32px;
    }
}